/* login and signup */
#login .hidePasswordBtn,
#sign-up .hidePasswordBtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 2rem;
}

#login .form-label,
#sign-up .form-label {
  font-size: 0.875rem !important;
  margin-bottom: 5px;
}

#sign-up .upload-photo {
  position: absolute;
  top: 40px;
  font-size: 15px;
  opacity: 80;
}
