/* Small screens: max-width 600px */

@media (max-width: 600px) {
  .bannerCarousel {
    height: 230px !important;
    width: 100% !important;
  }

  .image-container {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .me-3 {
    margin-right: 0;
  }


/* ==========================
    navbar styles
   ========================== */

  .navbar .container-fluid {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
  }
  
  .navbar .navbar-brand{
    margin-left: 1rem !important;
  }

  .search-box{
    width: 6rem !important;
  }

  /* ==========================
  admin panel Styles
   ========================== */
   
.adminPanelMain{
  padding: 0 0 3rem !important;
  }
  
  .allProductsDiv{
    padding: 0 4rem 0 0!important;
  }

  .allCategoryPage{
    padding: 0 4rem 0 0!important;
    
  }

  .user-table{
    padding-top: 3rem !important;
  }

  .uploadProductFormModal{
    margin-top: 5rem !important;
    height: 85% !important;
  }

/* ==========================
   Products heading styles
   ========================== */
  .heading-width-sm {
    width: 18rem;
  }

  /* ==========================
   Big banner card Styles
   ========================== */
  .big-banner-card .col-md-6 {
    padding-right: 20px;
  }

  .big-banner-card .banner-text {
    left: 10px !important;
    top: 10px !important;
  }

  .big-banner-card .banner-text p {
    margin-bottom: 0 !important;
  }

  .best-seller-products .module-header {
    margin: 0 auto !important;
  }


  /* ==========================
   Product Card Styles
   ========================== */
  .product-card .product-card-actions {
    right: 10px !important; 
    opacity: 1 !important;
    transition: none !important; 
  }

  .product-card .card .add-to-cart-action {
    display: block !important;
  }

  .product-card .product-card-actions button {
    min-width: 35px !important;
    height: 35px !important;
    width: 35px !important;
  }


/* ==========================
   Product Modal Styles
   ========================== */
.zoomSlider .item {
  height: 60px !important;
  width: 90px !important;
}

/* .productDetailsModal .productDetailsCol{
  margin-top: 0 !important;
}  */

/* .productDetailsModal .productDetailsCol .productZoom{
  height: 400px !important;
} */

/* ==========================
   Cart Page Styles
   ========================== */
.cartItemsRow{
  margin-left: 0 !important;
}

.cartItemsRow .image-container {
   margin: 1rem auto !important;
}

.cartItemsRow .image-container .product-image {
  max-width: 100% !important;
  max-height: 100% !important;
}

}